@keyframes skroll {
  0% {
    border-bottom: 2px solid rgba(265,265,265,.5);
    border-right: 2px solid rgba(265,265,265,.5);
  }

  100% {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
  }
}

@keyframes motion {
  0% {
    border-style: dotted;
  }

  100% {
    border-style: dashed;
  }
}
