* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  box-sizing: border-box;
  font-family: $main-text-font;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually_hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 690px;
  }

  @media (min-width: 1350px) {
    width: 1300px;
  }
}
