// colors
$main-accent-color: #fcae26;
$main-grey-color: #fafafa;
$main-dark-color: #222222;
$main-black-color: #151515;
$violet-color: #824fe3;
$light-violet-color: #e2d8f5;
$light-accent-color: #faebd0;
$green-color: #50c4bc;
$light-green-color: #c8eae8;
$red-color: #fc8d66;
$light-red-color: #fbdcd2;

//fonts
$main-text-font: 'Ubuntu', sans-serif;
$title-font: 'Open Sans', sans-serif;
