.header {
  height: 560px;
  padding: 20px;
  background: url('../images/header-phone.jpg') center no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    height: 600px;
    padding: 40px;
    background: url('../images/header-tablet.jpg') center no-repeat;
    background-size: cover;
  }

  @media (min-width: 1350px) {
    height: 968px;
    padding: 30px 0px;
    background: url('../images/header-decktop.jpg') center top no-repeat;
    background-size: cover;
  }

  @media (min-width: 1408px) {
    padding: 30px 54px;
  }

  &__inner {
    @include d-flex(between, start);

    @media (min-width: 1350px) and (max-width: 1408px) {
      padding: 0 20px;
    }
  }

  .logo {
    width: 100px;
    height: 26px;
    z-index: 3;

    @media (min-width: 768px) {
      width: 144px;
      height: 40px;
    }
  }

  &__btn {
    position: relative;
    height: 20px;
    width: 30px;
    @extend %btn;
    z-index: 3;

    @media (min-width: 1350px) {
      display: none;
    }

    &:before,
    &::after,
    .btn__burger {
      content: '';
      position: absolute;
      display: block;
      height: 3px;
      width: 100%;
      background: #fff;
      transition: 0.3s ease-in-out;
    }

    .btn__burger {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &:before {
      top: 0;
      left: 0;
    }

    &:after {
      bottom: 0;
      left: 0;
    }
  }

  &__btn--active {
    &:before {
      top: 50%;
      transform: rotate(45deg);
    }

    &:after {
      top: 50%;
      transform: rotate(-45deg);
    }

    .btn__burger {
      left: 60%;
      width: 0;
    }
  }

  &__bottom {
    position: relative;
    width: 13px;
    height: 19px;
    margin: 0 auto;

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 9px;
      height: 9px;
      border-bottom: 2px solid rgba(265, 265, 265, 0.5);
      border-right: 2px solid rgba(265, 265, 265, 0.5);
      transform: rotate(45deg);
    }

    &::after {
      bottom: 0;
      left: 0;
      animation: skroll 0.8s ease-in-out infinite;
    }

    &::before {
      top: 0;
      left: 0;
      animation: skroll 0.8s ease-in-out 0.2s infinite;
    }
  }
}

.mision {
  padding: 280px 0 60px;

  @media (min-width: 768px) {
    padding: 320px 0 26px;
  }

  @media (min-width: 1350px) {
    padding: 560px 0 26px;
  }

  &__title {
    padding-bottom: 25px;
    @include text-decor($title-font, 2.5rem, #fff, center, 1, none, 700);

    @media (min-width: 768px) {
      font-size: 3.25rem;
    }

    @media (min-width: 1350px) {
      padding-bottom: 42px;
      text-align: left;
      font-size: 4.75rem;
    }
  }

  &__text {
    @include text-decor($main-text-font, 1.14rem, #fff, center, 1.4, none, 400);

    @media (min-width: 768px) {
      line-height: 1.1;
      font-size: 1.93rem;
    }

    @media (min-width: 1350px) {
      line-height: 1.3;
      font-size: 1.79rem;
      text-align: left;
    }

    &--orang {
      font-weight: 700;
      color: $main-accent-color;
    }
  }

  &__text-wrp {
    width: 280px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.438);

    @media (min-width: 768px) {
      width: 444px;
      padding: 2px;
    }

    @media (min-width: 1350px) {
      position: relative;
      margin: 0;
      padding: 20px 0 20px 64px;

      &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 63px;
        top: 20px;
        left: 41px;
        background: $main-accent-color;
      }
    }
  }
}
