.howteach__list {
  @include d-flex(between, start);
  flex-flow: row wrap;
  padding-top: 30px;
  list-style: none;
}

.howteach__text {
  @include text-decor($main-text-font, 1rem, #626263, left, 1.2, none, none);
}

.howteach__item {
  max-width: 280px;
  min-height: 120px;
  margin-bottom: 30px;
  padding: 0 10px;
}

.howteach__item:last-child {
  margin-bottom: 0px;
}

.howteach__icon-container {
  @include d-flex(center, center);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.howteach__icon-container-17 {
  background-color: $light-accent-color;
}

.howteach__icon-container-26 {
  background-color: $light-red-color;
}

.howteach__icon-container-35 {
  background-color: $light-violet-color;
}

.howteach__icon-container-4 {
  background-color: $light-green-color;
}

.howteach__icon {
  width: 40px;
  height: 40px;
}

.howteach__icon-1,
.howteach__icon-7 {
  fill: $main-accent-color;
}

.howteach__icon-2,
.howteach__icon-6 {
  fill: $red-color;
}

.howteach__icon-3,
.howteach__icon-5 {
  fill: $violet-color;
}

.howteach__icon-4 {
  fill: $green-color;
}

@media (min-width: 768px) {
  .howteach__list {
    width: 510px;
    margin: 0 auto;
    padding-top: 50px;
  }

  .howteach__text {
    @include text-decor($main-text-font, 1.14rem, #626263, left, 1.2, none, none);
  }

  .howteach__item {
    max-width: 212px;
    min-height: 160px;
    margin-bottom: 30px;
  }

  .howteach__icon-container {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1350px) {
  .howteach__list {
    width: 1234px;
    justify-content: flex-start;
  }

  .howteach__text {
    @include text-decor(
      $main-text-font,
      1.13rem,
      #626263,
      left,
      1.28,
      none,
      none
    );
  }

  .howteach__item {
    max-width: 300px;
    min-height: 210px;
    margin-bottom: 65px;
  }

  .howteach__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }

  .howteach__icon-container {
    width: 100px;
    height: 100px;
  }
}