.s-courses {
  padding-top: 40px;
  @media (min-width: 1350px) {
    padding-top: 115px;
  }
}

.s-courses__description {
  display: flex;
  flex-direction: column;
}

.s-courses__quote {
  padding-top: 60px;
  margin-bottom: 28px;
  @media (min-width: 768px) and (max-width: 1350px) {
    padding-top: 0;
  }
}

.icon-quote {
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.s-courses__image {
  margin-bottom: 42px;
}

.s-courses__image img {
  width: 280px;
  height: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  border-radius: 5px;
}

.s-courses-promo {
  background-color: $violet-color;
  border-radius: 5px;
  margin-bottom: 55px;
}

.promo-text {
  font-family: $main-text-font;
  font-size: 1.286rem;
  text-align: center;
  padding: 20px 30px;
  color: #ffffff;
}

.promo-text::before {
  display: block;
  width: 60px;
  height: 3px;
  background-color: $main-accent-color;
  content: '';
  margin: 10px auto 18px auto;
}

.section-title {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.section-title_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  fill: rgb(255, 255, 255);
  background-color: $main-accent-color;
  padding: 7px;
}

.section-title_title {
  font-family: $title-font;
  font-size: 1.429rem;
  text-transform: uppercase;
  padding-left: 15px;
}

.courses-list {
  display: flex;
  flex-direction: column;
}

.courses-list__item {
  display: block;
  list-style: none;
  border-radius: 5px;
  background-color: $main-grey-color;
}

.courses-list__item a {
  text-decoration: none;
  color: #000000;
}

.courses-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 225px;
  padding: 20px 30px 20px 45px;
  transition: all 0.4s ease;
}

.courses-title {
  font-size: 1.714rem;
}

.courses-description {
  font-size: 1.143rem;
}

.courses-age {
  font-size: 2.143rem;
  color: $main-accent-color;
}

.icon-arrow {
  width: 20px;
  height: 15px;
  fill: $main-accent-color;
  transition: all .4s ease; 
}

.courses-container:hover {
  background-color: $main-accent-color;
  border-radius: 5px;
  box-shadow: 5px 3px 12px -7px rgba(0, 0, 0, 0.75);
  transform: translate(-2%, -2%);
}

.courses-container:hover .icon-arrow {
  fill: #ffffff;
  width: 60px;
  height: 20px;
}

.courses-container:hover .courses-age {
  color: #ffffff;
}

//media

@media (max-width: 767px) {
  .courses-list__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .s-courses__quote {
    letter-spacing: 2px;
  }
}

@media (min-width: 768px) and (max-width: 1349px) {
  .courses-list__item:nth-child(1) {
    border-right: 1px dashed #b9b9b9;
    border-bottom: 1px dashed #b9b9b9;
  }

  .courses-list__item:nth-child(4) {
    border-left: 1px dashed #b9b9b9;
    border-top: 1px dashed #b9b9b9;
  }
}

@media (min-width: 768px) {
  .container {
    width: 690px;
  }

  .s-courses {
    width: 620px;
  }

  .s-courses__image img {
    width: 620px;
    height: 320px;
    object-fit: fill;
  }

  .icon-quote {
    width: 25px;
    height: 25px;
    margin-left: -35px;
  }

  .promo-text {
    text-align: left;
  }

  .promo-text::before {
    display: none;
  }

  .s-courses-promo {
    min-height: 180px;
    padding: 40px 20px;
    box-shadow: 5px 3px 12px -7px rgba(0, 0, 0, 0.75);
  }

  .v-line {
    border-left: 2px solid $main-accent-color;
    height: auto;
    margin: auto 0 auto 50px;
  }

  .section-title_title {
    font-size: 2.286rem;
  }

  .courses-list {
    flex-flow: row wrap;
  }

  .courses-container {
    width: 309px;
    min-height: 296px;
  }

  .quote-title {
    padding-right: 70px;
  }

  .quote-text {
    padding-right: 70px;
  }
}

@media (min-width: 1350px) {
  .container {
    width: 1300px;
  }

  .s-courses {
    width: 1300px;
  }

  .s-courses__description {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .s-courses__image {
    width: 650px;
  }

  .s-courses__image img {
    width: 650px;
    height: 400px;
    object-fit: cover;
  }

  .s-courses__quote {
    width: 535px;
    padding-right: 30px;
  }

  .promo-text {
    padding-right: 150px;
  }

  .courses-container {
    width: 324px;
  }

  .courses-list__item:not(:last-child) {
    border-right: 1px dashed #b9b9b9;
  }
}
